*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(#9e43d1, #b063a7, #c18378);
    background-repeat: no-repeat;
    height: 100vh;
}   



textarea{
    width: 150px;
    height: 150px;
    border-radius: 1.5em;
    padding: 1em;
    font-size: 1.3em;
    resize: none;
    border: none;
}
textarea::placeholder, :focus{
    padding: 1em;
    outline: none;
}